# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*
api.txt

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Package directories
build/
dist/
.eggs/
*.egg-info/
